# Iterating elements of list using for loop

In [1]:
classic_cars = ["Pierce Arrow", "Oldsmobile", "Mustang"]

In [2]:
for car in classic_cars:
    print(car)

Pierce Arrow
Oldsmobile
Mustang

In [3]:
car

'Mustang'

In [4]:
sports_cars = ["Agera", "Regera", "Chiron", "Veyron"]

In [5]:
for car in sports_cars:
    print(car)

Agera
Regera
Chiron
Veyron

In [6]:
car

'Veyron'

In [7]:
for charecter in ["P", "h", "a", "n", "t", "o", "m"]:
    print(charecter)

P
h
a
n
t
o
m

In [8]:
for charecter in "Phantom":
    print(charecter)

P
h
a
n
t
o
m

In [10]:
# it will throw an error
for integer in 12345678:
    print(integer)

TypeError: 'int' object is not iterable

In [11]:
fruits = ("Mango", "Banana", "Apple", "Pineapple", "Guava", "Pomegranate", "Orange")

In [12]:
for fruit in fruits:
    print(fruit)

Mango
Banana
Apple
Pineapple
Guava
Pomegranate
Orange

In [13]:
num_list = [100, 800, 230, 450, 171, 431, 900, 141]

In [14]:
for num in num_list:
    if num < 500:
        print("Number is less than 500", num)
    else:
        print("Number is greter than or equal to 500", num)

Number is less than 500 100
Number is greter than or equal to 500 800
Number is less than 500 230
Number is less than 500 450
Number is less than 500 171
Number is less than 500 431
Number is greter than or equal to 500 900
Number is less than 500 141

# Using for loop with range function

In [15]:
r = range(10)

r

range(0, 10)

In [16]:
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [17]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list(range(-4, 8))

[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [20]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [21]:
# third argument is the size of steps in range funtion
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [22]:
for i in range(2, 11, 3):
    print(i)

2
5
8

In [23]:
# this will throw an error because range function only takes int argument
for i in range(3.14):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [24]:
for _ in range(7):
    print("Python is great")

Python is great
Python is great
Python is great
Python is great
Python is great
Python is great
Python is great

# Iterating over Dictionaries

In [25]:
names_and_ages = {"Aamir": 22,
                 "Salman": 23, 
                 "Ann": 31,
                 "Shubham": 22}

In [26]:
for key in names_and_ages:
    print(key)

Aamir
Salman
Ann
Shubham

In [27]:
for key in names_and_ages:
    print("Name:", key, " Value:", names_and_ages[key])

Name: Aamir  Value: 22
Name: Salman  Value: 23
Name: Ann  Value: 31
Name: Shubham  Value: 22

In [28]:
names_and_ages.keys()

dict_keys(['Aamir', 'Salman', 'Ann', 'Shubham'])

In [29]:
for key in names_and_ages.keys():
    print(key)

Aamir
Salman
Ann
Shubham

In [30]:
names_and_ages.values()

dict_values([22, 23, 31, 22])

In [31]:
for value in names_and_ages.values():
    print(value)

22
23
31
22

In [32]:
names_and_ages.items()

dict_items([('Aamir', 22), ('Salman', 23), ('Ann', 31), ('Shubham', 22)])

In [33]:
for key, val in names_and_ages.items():
    print(key, val)

Aamir 22
Salman 23
Ann 31
Shubham 22