In [1]:
empty_dict = {}

In [2]:
print(empty_dict)

{}

In [3]:
type(empty_dict)

dict

In [4]:
names_and_age = {"Salman": 23,
                "Aamir": 22,
                "Anurag": 23}

In [6]:
names_and_age

{'Aamir': 22, 'Anurag': 23, 'Salman': 23}

In [7]:
names_and_age["Salman"]

23

In [8]:
names_and_age.keys()

dict_keys(['Salman', 'Aamir', 'Anurag'])

In [9]:
names_and_age.values()

dict_values([23, 22, 23])

In [10]:
names_and_age.items()

dict_items([('Salman', 23), ('Aamir', 22), ('Anurag', 23)])

In [11]:
names_and_age["Shubham"] = 23

In [12]:
names_and_age

{'Aamir': 22, 'Anurag': 23, 'Salman': 23, 'Shubham': 23}

In [13]:
names_and_age["Shubham"] = 22

In [14]:
names_and_age

{'Aamir': 22, 'Anurag': 23, 'Salman': 23, 'Shubham': 22}

In [15]:
names_and_age.pop("Shubham")
names_and_age

{'Aamir': 22, 'Anurag': 23, 'Salman': 23}

In [16]:
del names_and_age["Anurag"]

In [17]:
names_and_age

{'Aamir': 22, 'Salman': 23}

In [18]:
occcupations_and_name = {"Engineer": ["Aamir", "Salman", "Shubham"],
                        "Doctor": ["Sarwar", "MAzhar"],
                        "CA": ["Rohit", "Nihal"]}

In [19]:
occcupations_and_name

{'CA': ['Rohit', 'Nihal'],
 'Doctor': ['Sarwar', 'MAzhar'],
 'Engineer': ['Aamir', 'Salman', 'Shubham']}

In [20]:
occcupations_and_name["Engineer"][0]

'Aamir'

#### Key can be any immutable data type ( not list or any mutable data type )

In [21]:
int_key_dict = {1: "Salman",
               2: "Shubham",
               3: "Aamir"}

In [22]:
int_key_dict[1]

'Salman'

In [23]:
int_key_dict[4]

KeyError: 4